@font-face {
  font-family: "RobotoRegular";
  src: url("fonts/Cabin-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none !important;
}

input[type="text"], textarea {
  font-weight: 600 !important;
}

input::-moz-placeholder, textarea:-moz-placeholder {
  font-weight: 400;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 400;
}

body {
  max-width: 1180px;
  font-family: 'Cabin SemiBold Italic', arial;
  margin: 0 auto;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.fa {
  color: #ffffff;
  font-size: 14px;
}

.fa-angle-right, .fa-angle-down {
  font-size: 24px;
}

.select {
  position: relative;
}

.fa-angle-down {
  position: absolute;
  top: 22px;
  right: 10px;
  cursor: pointer;
}

.sel-expire {
  top: -1px;
  right: 30px;
}

.fa-chevron-left {
  color: #65abd0;
  font-size: 14px;
}

button, select, checkbox {
  cursor: pointer;
}

button span, select span, checkbox span {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.email, .pass {
  width: 100% !important;
}

.email:focus + i, .pass:focus + i {
  opacity: 1;
}

.control {
  position: relative;
  width: 82%;
}

.control-email {
  margin-top: 25px;
}

.fa-envelope, .fa-lock {
  color: black;
  position: absolute;
  left: 12px;
  font-size: 16px;
  top: 16px;
  opacity: 0.4;
}

.fa-lock {
  font-size: 18px;
  margin-left: 4px;
}

.twoTopForms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #ffffff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.topSignUpForm, .topSignInForm {
  padding-top: 0px !important;
}

.topSignUpFormHeader, .topSignInFormHeader {
  max-width: 460px;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: -4px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.topSignUpFormHeader__image, .topSignInFormHeader__image {
  width: 100%;
  max-height: 144px;
}

.topSignUpFormHeader__advice, .topSignInFormHeader__advice {
  font-size: 14px;
  letter-spacing: 0.28px;
  position: absolute;
  right: 4%;
  top: 12%;
  color: white;
}

.topSignUpFormHeader__title, .topSignInFormHeader__title {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topSignUpForm, .topSignInForm, .smallSignUpForm, .smallSignInForm, .smallResetForm {
  max-width: 460px;
  -webkit-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  background-color: #f2f5f8;
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.topSignUpForm input[type="text"], .topSignInForm input[type="text"], .smallSignUpForm input[type="text"], .smallSignInForm input[type="text"], .smallResetForm input[type="text"] {
  margin-bottom: 25px;
}

.topSignUpForm input[type="text"], .topSignUpForm input[type="password"], .topSignInForm input[type="text"], .topSignInForm input[type="password"], .smallSignUpForm input[type="text"], .smallSignUpForm input[type="password"], .smallSignInForm input[type="text"], .smallSignInForm input[type="password"], .smallResetForm input[type="text"], .smallResetForm input[type="password"] {
  width: 82%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 35px;
  color: black;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.topSignUpForm__forgot, .topSignInForm__forgot, .smallSignUpForm__forgot, .smallSignInForm__forgot, .smallResetForm__forgot {
  color: #b4bbc2;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  top: 0px;
}

.topSignUpForm__button, .topSignInForm__button, .smallSignUpForm__button, .smallSignInForm__button, .smallResetForm__button {
  width: 82%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #65abd0;
  height: 48px;
}

.topSignUpForm__or, .topSignInForm__or, .smallSignUpForm__or, .smallSignInForm__or, .smallResetForm__or {
  color: #c6ccd2;
  width: 82%;
  overflow: hidden;
  text-align: center;
  margin: 25px 0px;
}

.topSignUpForm__or:before, .topSignUpForm__or:after, .topSignInForm__or:before, .topSignInForm__or:after, .smallSignUpForm__or:before, .smallSignUpForm__or:after, .smallSignInForm__or:before, .smallSignInForm__or:after, .smallResetForm__or:before, .smallResetForm__or:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #c6ccd2;
  position: relative;
}

.topSignUpForm__or:before, .topSignInForm__or:before, .smallSignUpForm__or:before, .smallSignInForm__or:before, .smallResetForm__or:before {
  margin-left: -80%;
  left: -10px;
}

.topSignUpForm__or:after, .topSignInForm__or:after, .smallSignUpForm__or:after, .smallSignInForm__or:after, .smallResetForm__or:after {
  margin-right: -80%;
  right: -10px;
}

.topSignUpForm__or span, .topSignInForm__or span, .smallSignUpForm__or span, .smallSignInForm__or span, .smallResetForm__or span {
  display: inline-block;
  vertical-align: middle;
}

.topSignUpForm__button-facebook, .topSignInForm__button-facebook, .smallSignUpForm__button-facebook, .smallSignInForm__button-facebook, .smallResetForm__button-facebook {
  background-color: #3162a2;
  margin-right: 20px;
}

.topSignUpForm__buttons, .topSignInForm__buttons, .smallSignUpForm__buttons, .smallSignInForm__buttons, .smallResetForm__buttons {
  width: 82%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 30px;
  height: 48px;
}

.topSignUpForm__buttons span, .topSignInForm__buttons span, .smallSignUpForm__buttons span, .smallSignInForm__buttons span, .smallResetForm__buttons span {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.topSignInForm__button-signIn, .smallSignUInForm__button-signIn {
  background-color: #24aa98;
}

.topSignInForm__remember, .smallSignInForm__remember {
  color: #b4bbc2;
  letter-spacing: 0.28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.topSignInForm__checkRememberPassBlock, .smallSignInForm__checkRememberPassBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  position: relative;
  -webkit-transform: translateX(23%);
      -ms-transform: translateX(23%);
          transform: translateX(23%);
}

.topSignInForm__checkRememberPassBlock .topSignInForm__checkButton input[type=checkbox], .topSignInForm__checkRememberPassBlock .smallSignInForm__checkButton input[type=checkbox], .smallSignInForm__checkRememberPassBlock .topSignInForm__checkButton input[type=checkbox], .smallSignInForm__checkRememberPassBlock .smallSignInForm__checkButton input[type=checkbox] {
  display: none;
}

.topSignInForm__checkRememberPassBlock .topSignInForm__checkButton, .smallSignInForm__checkRememberPassBlock .topSignInForm__checkButton {
  position: relative;
  padding-left: 25px;
  margin: 14px 0px;
}

.topSignInForm__checkRememberPassBlock .topSignInForm__checkButton label:after, .smallSignInForm__checkRememberPassBlock .topSignInForm__checkButton label:after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  background-color: #24aa98;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: absolute;
  line-height: 18px;
  top: 3px;
  left: 0;
}

.topSignInForm__checkRememberPassBlock .topSignInForm__checkButton input[type=checkbox]:checked + label:after, .smallSignInForm__checkRememberPassBlock .topSignInForm__checkButton input[type=checkbox]:checked + label:after {
  content: '\2713';
  color: white;
  text-align: center;
  border-color: #24aa98;
  font-weight: 600;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #24aa98;
  line-height: 18px;
}

/* Small forms     */
.fourSmallForms {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Small Sign Up form   */
.smallSignUpForm, .smallSignInForm, .smallResetForm {
  width: 300px;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.smallSignUpForm__title, .smallSignInForm__title, .smallResetForm__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 4%;
  top: 4%;
}

.smallSignUpForm__advice, .smallSignInForm__advice, .smallResetForm__advice {
  font-size: 14px;
  font-weight: 600;
  color: #65abd0;
  letter-spacing: 0.28px;
  position: absolute;
  top: 4%;
  right: 4%;
}

.smallSignUpForm__forgot, .smallSignInForm__forgot, .smallResetForm__forgot {
  margin-bottom: 20px;
}

.smallSignUpForm__button-facebook, .smallSignUpForm__button-twitter, .smallSignInForm__button-facebook, .smallSignInForm__button-twitter, .smallResetForm__button-facebook, .smallResetForm__button-twitter {
  height: 36px;
}

.smallSignUpForm__or, .smallSignInForm__or, .smallResetForm__or {
  width: 86%;
}

/* Small Sign In form   */
.smallSignInForm__checkRememberPassBlock {
  -webkit-transform: translateX(14%);
      -ms-transform: translateX(14%);
          transform: translateX(14%);
}

.smallSignInForm__checkButton {
  position: relative;
  padding-left: 25px;
  margin: 16px 0px;
}

.smallSignInForm__checkButton label:after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  background-color: #24aa98;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: absolute;
  line-height: 18px;
  top: 4px;
  left: 0;
}

.smallSignInForm__checkButton input[type=checkbox]:checked + label:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #24aa98;
  line-height: 18px;
}

/* Small Reset form   */
.smallResetForm {
  margin-bottom: 30px;
  height: 215px;
}

.smallResetForm input[type="text"] {
  width: 82%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 35px;
  color: black;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.smallResetForm__button {
  width: 82%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #db7560;
  height: 48px;
}

.smallResetForm__title {
  margin-top: 2%;
}

.smallResetForm__advice {
  margin-top: 2%;
}

/* Small Subscribe form   */
.smallSubscribingForm {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f2f5f8;
  padding-top: 30px;
  max-width: 300px;
  position: relative;
  text-align: center;
  padding-bottom: 35px;
}

.smallSubscribingForm .control-email-subscribing {
  margin-left: 15px;
  width: 62%;
}

.smallSubscribingForm input[type="text"] {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 35px;
  color: black;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-right: 13px;
}

.smallSubscribingForm__button {
  width: 26%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #d9c26c;
  height: 48px;
  position: absolute;
  right: -66px;
  top: 0;
}

.smallSubscribingForm__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 4%;
  top: 8%;
}

.smallSubscribingForm__description {
  max-width: 85%;
  text-align: left;
  margin-left: 5%;
  color: #b4bbc2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.28px;
}

/* Small contact form    */
.bigTwoForms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
  width: 100%;
}

.bigTwoForms .formContact {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  position: relative;
}

.bigTwoForms .formContact input[type="text"] {
  margin-bottom: 25px;
}

.bigTwoForms .formContact input[type="text"], .bigTwoForms .formContact textarea {
  width: 84%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.bigTwoForms .formContact textarea {
  height: 144px;
  padding-top: 15px;
}

.bigTwoForms .formContact__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 4%;
  top: 2%;
}

.bigTwoForms .formContact__NameLabel {
  margin-top: 65px;
}

.bigTwoForms .formContact label {
  margin-bottom: 10px;
  color: #b4bbc2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  position: relative;
  left: 8%;
}

.bigTwoForms .formContact__button {
  margin-top: 25px;
  width: 45%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #24aa98;
  height: 48px;
  position: relative;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  right: 8%;
}

/* Big contact form    */
.bigTwoForms .bigForm {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 620px;
  position: relative;
  padding-top: 65px;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding-bottom: 30px;
}

.bigTwoForms .bigForm input[type="text"], .bigTwoForms .bigForm textarea, .bigTwoForms .bigForm select {
  width: 250px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.bigTwoForms .bigForm__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 2%;
  top: 2%;
}

.bigTwoForms .bigForm label {
  color: #b4bbc2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.bigTwoForms .bigForm select {
  background-color: #65abd0;
  border: none;
  color: white;
  letter-spacing: 0.32px;
}

.bigTwoForms .bigForm textarea {
  width: 560px;
  height: 144px;
  padding-top: 15px;
  letter-spacing: 0.6px;
}

.bigTwoForms .bigForm__checkButton input[type=checkbox] {
  display: none;
}

.bigTwoForms .bigForm__checkButton {
  position: relative;
  padding-left: 25px;
  margin: 16px 0px;
}

.bigTwoForms .bigForm__checkButton label:after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  background-color: #24aa98;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: absolute;
  line-height: 18px;
  top: 3px;
  left: 0;
}

.bigTwoForms .bigForm__checkButton input[type=checkbox]:checked + label:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #24aa98;
  line-height: 18px;
}

.bigForm__checkRememberPassBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: ror wrap;
      -ms-flex-flow: ror wrap;
          flex-flow: ror wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -8px;
}

.bigForm__checkRememberPassBlock .bigForm__checkButton {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  position: relative;
  width: 500px;
}

.bigForm__button {
  width: 30%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #24aa98;
  height: 48px;
}

/* Cart form    */
.formCart {
  margin-top: 70px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f2f5f8;
  position: relative;
  padding-bottom: 30px;
}

.formCartTable {
  border-spacing: 0;
  margin: 0 auto;
  padding-top: 65px;
  width: 94%;
}

.formCartTable .bottomLineSubtotal td {
  border-style: hidden;
}

.formCartTable td, .formCartTable th {
  padding: 10px 5px 3px 18px;
  border-bottom: 2px solid #dee2e7;
  text-align: center;
}

.formCartTable th {
  padding-bottom: 15px;
}

.formCartTable td:nth-child(2), .formCartTable th:nth-child(2) {
  text-align: left;
}

.formCartTable .img {
  width: 14%;
}

.formCartTable .item {
  width: 40%;
}

.formCartTable .price, .formCartTable .total {
  width: 25%;
}

.formCartTable .quantity {
  width: 14%;
}

.formCartTable thead tr th {
  color: #b4bbc2;
}

.formCartTable__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 2%;
  top: 3%;
}

.formCartTable span {
  color: #383737;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.formCartTable .span_color {
  color: #b4bbc2;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.28px;
  font-weight: 400;
}

/* Panel Check color (tr-1)    */
.checkColorPanel #yellowRadio, #blueRadio, #greenRadio, #redRadio, #blackRadio {
  display: none;
}

.checkColorPanel {
  position: relative;
  padding-left: 25px;
  margin: 16px 0px;
}

.checkColorPanel .colorLabel:after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: absolute;
  line-height: 18px;
  top: 0;
}

.checkColorPanel .yellowLabel:after {
  left: 0px;
  background-color: #d9c26c;
}

.checkColorPanel .blueLabel:after {
  background-color: #65abd0;
  left: 22px;
}

.checkColorPanel .greenLabel:after {
  background-color: #24aa98;
  left: 44px;
}

.checkColorPanel .redLabel:after {
  background-color: #db7560;
  left: 66px;
}

.checkColorPanel .blackLabel:after {
  background-color: black;
  left: 88px;
}

.checkColorPanel #yellowRadio:checked + .yellowLabel:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #d9c26c;
  line-height: 18px;
}

.checkColorPanel #blueRadio:checked + .blueLabel:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #65abd0;
  line-height: 18px;
}

.checkColorPanel #greenRadio:checked + .greenLabel:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #24aa98;
  line-height: 18px;
}

.checkColorPanel #redRadio:checked + .redLabel:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #db7560;
  line-height: 18px;
}

.checkColorPanel #blackRadio:checked + .blackLabel:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: black;
  line-height: 18px;
}

/* Panel Check color  */
.checkColorPanel1 #brownRadio1, #blackRadio1 {
  display: none;
}

.checkColorPanel1 {
  position: relative;
  padding-left: 70px;
}

.checkColorPanel1 .colorLabel1:after {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: absolute;
  line-height: 18px;
  top: 0;
}

.checkColorPanel1 .brownLabel1:after {
  left: 0px;
  background-color: brown;
}

.checkColorPanel1 .blackLabel1:after {
  background-color: black;
  left: 22px;
}

.checkColorPanel1 #brownRadio1:checked + .brownLabel1:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: brown;
  line-height: 18px;
}

.checkColorPanel1 #blackRadio1:checked + .blackLabel1:after {
  content: '\2713';
  color: white;
  text-align: center;
  font-weight: 600;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: black;
  line-height: 18px;
}

.formCartTable .span_size, .formCartTable .titleSubTotal {
  color: #b4bbc2;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.28px;
  font-weight: 400;
  position: relative;
}

.formCartTable .selectSize {
  background-color: #c6ccd2;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.24px;
}

/* button plus and minus    */
.plusMinusValue {
  border: none;
  max-width: 35px;
  text-align: center;
  background-color: #f2f5f8;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
  cursor: pointer;
}

.plusMinusValue:focus {
  outline: none;
}

.minus {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #db7560;
  padding: 3px 6px;
  cursor: pointer;
  color: white !important;
  font-weight: 400 !important;
}

.plus {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #24aa98;
  padding: 3px 6px;
  cursor: pointer;
  color: white !important;
  font-weight: 400 !important;
}

.resultSumm {
  float: right;
  margin-top: 8px;
  margin-right: 35%;
  color: #b4bbc2;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.28px;
  width: 108px;
}

.subtotal, .dollarSubtootal {
  color: #383737;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.dollarSubtootal {
  padding-left: 15px;
}

.butttonOrder {
  width: 65%;
  float: right;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #24aa98;
  height: 48px;
}

.butttonOrder span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.ContinueShop {
  float: left;
  text-decoration: none;
}

.ContinueShop span {
  color: #65abd0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* shipping adress and contact info form    */
.formsShipAdrAndContInfo {
  width: 100%;
  padding-bottom: 80px;
  margin-top: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f2f5f8;
  position: relative;
  padding-top: 65px;
}

.formsShipAdrAndContInfo .formShippingAdress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 60px;
}

.formsShipAdrAndContInfo .formShippingAdress__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 2%;
  top: 4%;
}

.formsShipAdrAndContInfo .formShippingAdress input[type="text"], .formsShipAdrAndContInfo .formShippingAdress select {
  width: 273px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.formsShipAdrAndContInfo .formShippingAdress label {
  color: #b4bbc2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.formsShipAdrAndContInfo .formShippingAdress select {
  background-color: #d9c26c;
  border: none;
  color: white;
  letter-spacing: 0.32px;
}

.formContactInfoBlock__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  margin-left: 2%;
}

.butttonPayMethod {
  width: 22%;
  float: right;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #24aa98;
  height: 48px;
  margin-right: 2%;
}

.butttonPayMethod span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.ReturnToCart {
  float: left;
  text-decoration: none;
  margin-left: 2%;
}

.ReturnToCart span {
  color: #65abd0;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.32px;
}

.formsShipAdrAndContInfo .formContactInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 25px;
  position: relative;
}

.formsShipAdrAndContInfo .formContactInfo__title {
  font-size: 16px;
  color: #393635;
  font-weight: 600;
  letter-spacing: 0.32px;
  position: absolute;
  left: 2%;
  top: 4%;
}

.formsShipAdrAndContInfo .formContactInfo input[type="text"], .formsShipAdrAndContInfo .formContactInfo select {
  width: 273px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.formsShipAdrAndContInfo .formContactInfo label {
  color: #b4bbc2;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* PAYMENT METHOD form    */
.form-payment {
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 100%;
  margin-top: 25px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  margin-bottom: 100px;
}

.form-payment .left-part, .form-payment .right-part {
  width: 50%;
  position: relative;
}

.form-payment input[type="text"], .form-payment input[type="password"] {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 2px solid #c6ccd2;
  background-color: #ffffff;
  height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  font-size: 16px;
}

.form-payment .form-payment__input--card, .form-payment .form-payment__input--cvv {
  width: 74px;
  margin-right: 5px;
}

.form-payment .form-payment__input--cardholder {
  width: 324px;
}

.form-payment select {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: #d9c26c;
  height: 48px;
  padding-left: 10px;
  padding-right: 15px;
  width: 152px;
  margin-right: 15px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-weight: 600;
}

.form-payment .margin_label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.form-payment__title {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  color: #393635;
}

.form-payment__label {
  color: #b4bbc2;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.form-payment__label--check {
  display: inline-block;
  color: #383737;
  font-weight: 600;
  position: relative;
  left: 25px;
}

.form-payment__label--check:before {
  content: "";
  display: inline-block;
  background-color: #24aa98;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: -25px;
}

.form-payment__checkbox {
  display: none;
}

.form-payment__checkbox:checked + label:before {
  content: "\2713";
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
}

.form-payment__text {
  color: #b4bbc2;
  line-height: 22px;
  letter-spacing: 0.32px;
}

.form-payment__result {
  position: absolute;
  bottom: 15%;
  right: 0;
}

.form-payment__edit-address {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  left: 35px;
  margin-bottom: 40px;
}

.form-payment__edit-address span {
  color: #65abd0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.form-payment__button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 25px;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #24aa98;
  padding: 12px 18px;
}

.form-payment__input--cvv {
  margin-bottom: 68px;
}

@media (max-width: 480px) {
  .twoTopForms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
