@font-face
	font-family: "RobotoRegular"
	src : url("fonts/Cabin-SemiBold.ttf")

body
	max-width: 1180px
	font-family: 'Cabin SemiBold Italic', arial

button
	cursor: pointer

	span
		color: white
		font-size: 18px
		font-weight: 400
		line-height: 24px
		letter-spacing: 0.36px;

.twoTopForms
	display: flex
	flex-flow: row wrap
	color: #ffffff


.topSignUpFormHeader
 	max-width: 460px
 	position: relative
 	background: rgba(0,0,0,0.6)
 	margin-bottom: -4px

 	&__image
 		width: 100%
 		max-height: 144px

 	&__advice
 		font-size: 14px
 		font-size: 14px
 		letter-spacing: 0.28px
 		position: absolute
 		right: 4%
 		top: 12%

 	&__title
 		font-size: 32px
 		font-weight: 400
 		letter-spacing: 1.6px
 		position: absolute
 		top: 0%
 		left: 0%
 		bottom: 0%
 		right: 0%
 		transform: translate(33.333%, 33.33%)

.topSignUpForm
	max-width: 460px
	max-height: 384px
	border-radius: 0 0 6px 6px
	background-color: #f2f5f8
	padding-top: 30px
	display: flex
	flex-flow: column nowrap
	align-items: center
	position: relative
	
	input[type="text"]
		margin-bottom: 25px

	input[type="text"], input[type="password"]
		width: 80%
		border-radius: 6px
		border: 2px solid #c6ccd2
		background-color: #ffffff
		height: 48px
		padding-left: 10px
		color: #b4bbc2
		font-family: FontAwesome, "Open Sans", Verdana, sans-serif
		font-size: 16px
		font-weight: 400
		line-height: 24px
		letter-spacing: 0.2px
	
	&__forgot
		color: #b4bbc2
		letter-spacing: 0.28px
		font-size: 14px
		font-weight: 400
		line-height: 24px
		top: 0px

	&__button
		width: 80%
		border-radius: 6px
		border: none
		background-color: #65abd0
		height: 48px


	&__or
		color: #c6ccd2
		width: 80%
		overflow: hidden
		text-align: center
		margin: 25px 0px
		
		&:before, &:after
			content: ""
			display: inline-block
			vertical-align: middle
			width: 100%
			height: 2px
			background-color: #c6ccd2
			position: relative

		&:before
			margin-left: -80%
			left: -10px

		&:after
			margin-right: -80%
			right: -10px
		span
			display: inline-block
			vertical-align: middle

	&__button-facebook
		background-color: #3162a2
		margin-right: 20px

	&__buttons
		width: 80%
		display: flex
		justify-content: space-between
		flex-flow: row nowrap

		span
			font-size: 16px
			line-height: 20px
			letter-spacing: 0.32px




